@using MvcPaging

@model TelephoneKeyPad.Web.Models.CombinationsVM

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Combination Generator</h2>

@using (Html.BeginForm("Index", "Demo", FormMethod.Post))
{
    <form>
        <div class="form-group">
            <div>
                @Html.DisplayNameFor(model => model.OriginalNumber) : @Html.TextBoxFor(model => model.OriginalNumber)
                <button type="submit" class="btn btn-primary">Generate</button>
                @Html.ValidationMessage("PhoneNumber", "", new { @class = "text-danger" })  <br />
            </div>
        </div>
    </form>
}

@if (Model.PagedItems != null)
{
    <p>Total number of combinations: @Model.TotalItemCount</p>
    using (Html.BeginForm("Page", "Demo", FormMethod.Get))
    {
        <div class="pager">
            @Html.Pager(
               Model.PageSize,
               Model.PageNumber,
               Model.TotalItemCount).Options(o => o.AddRouteValue("PhoneNumber", Model.OriginalNumber));
        </div>
    }
    <<ol class="list-group" start="@Model.ItemStart">
        @foreach (var number in Model)
        {
            <li class="list-group-item">@number</li>
        }
    </ol>

}
