@using MvcPaging

@model TelephoneKeyPad.Web.Models.CombinationsVM

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <h2>Combination Generator</h2>

        @using (Html.BeginForm("Index", "Demo", FormMethod.Post))
        {
            <form>
                <div class="form-group">
                    <div>
                        @Html.DisplayNameFor(model => model.PhoneNumber) : @Html.TextBoxFor(model => model.PhoneNumber)
                        <button type="submit" class="btn btn-primary">Generate</button>
                        @Html.ValidationMessage("PhoneNumber", "", new { @class = "text-danger" })  <br />
                    </div>
                </div>
            </form>
            if (Model.PagedItems != null)
            {
                <p>Total number of combinations: @Model.TotalItemCount</p>
                <div id="result_container">
                    @Html.Partial("_PagedItems", Model)
                </div>
            }
        }
    </div>
</div>
